.container {
    margin: 0 auto;
    width: 1209px;
    max-width: 100%;
    padding: 0 20px;
}


// @media(max-width:$desktop-width) {
//     .container {
//         padding: 0 67px;
//     }
// }

// @media(max-width:$mobile-width) {
//     .container {
//         padding: 0 20px;
//     }
// }
