.min-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 7px 29px 7px 37px;

    background-color: $white;
    border-radius: 5px;
    border: 1px solid transparent;

    &:focus,
    &:hover,
    &:active {
        border: 1px solid $secondary-color-1;
    }
}

.min-card__column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    flex-basis: 18%;


    &:first-child {
        flex-basis: 37.6%;
    }

    &:last-child {
        flex-basis: 34%;
    }
}

.min-card__number {
    margin-right: 5px;

    font-family: $mont;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0px;
}

.min-card__img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 107px;
    height: 100%;
    margin-right: 5px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.min-card__caption {
    margin: 0;
    margin-right: 5px;

    font-family: $mont;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0px;
}

.min-card__star {
    margin-left: 5px;

    & svg {
        margin-right: 2px;
    }
}

.min-card__cash {
    margin-right: 5px;

    font-family: $mont;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0px;

    & svg {
        margin-right: 14px;
    }
}

.min-card__link {
    @include hover();

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 9px 18px;

    font-family: $mont;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0em;
    color: $black-2;

    border: 1px solid $primary-color-2;
    border-radius: 5px;

    &:first-child {
        border-color: $green-color-1;
    }

    &:last-child {
        color: $white;

        border-color: $red-color-1;
        background-color: $red-color-1;
    }
}

@media(max-width:$desktop-width) {
    .min-card__column {
        flex-basis: auto;

        &:first-child {
            flex-basis: auto;
        }

        &:last-child {
            flex-basis: auto;
        }
    }
}

@media(max-width:$tablet-width) {
    .min-card {
        margin-left: auto;
        margin-right: auto;
        padding: 7px 15px;

        display: block;
        width: 425px;
        max-width: 100%;
    }

    .min-card__cash {
        margin: 22px auto;
    }
}

@media(max-width:$mobile-width) {
    .min-card__column {
        &:last-child {
            display: block;
        }
    }

    .min-card__link {
        margin-bottom: 20px;
    }

    .min-card__star {
        margin: 22px auto;
    }

    .min-card__cash {
        margin-top: 0;
    }
}
