$gotham: "Gotham", "Arial", sans-serif;
$mont: "Montserrat", "Arial", sans-serif;

$black: #33312C;
$black-2: #191925;
$white: #ffffff;

$green-color-1: #67BC6D;
$red-color-1: #E2455A;

$primary-color-1: #C1C0CD;
$primary-color-2: #DADADA;

$secondary-color-1: #5A3EC4;


$transition: all 0.8s ease-in;

$mobile-width: 550px;

$tablet-width: 900px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
