section.last.container
    .last__caption-row
        h2.last__caption.h2 ПОСЛЕДНИЕ ПРОГНОЗЫ экспертов
        ul.last__caption-list
            li.last__caption-item
                button.last__caption-tab.last__caption-tab--active(type="button") все
            li.last__caption-item
                button.last__caption-tab(type="button") футбол
            li.last__caption-item
                button.last__caption-tab(type="button") киберспорт
            li.last__caption-item
                button.last__caption-tab(type="button") волейбол
    .last__row
        article.last__column.big-card
            span.big-card__tag ФУТБОЛ
            h3.big-card__caption.h3 Батэ – славия мозырь, прогноз на кубок беларуси
            .big-card__row
                .big-card__column
                    img.big-card__man(src="img/serega.jpg", alt="serega")
                    span.big-card__name Серега Капер
                .big-card__column
                    p.big-card__factor
                        span x 2.21
                        |КОФЕЦИЕНТ
            .big-card__row
                .big-card__column
                    img.big-card__team-logo(src="img/shahter.png", alt="shahter")
                    span.big-card__team Шахтер
                .big-card__column
                    time.big-card__time
                        |12 июня
                        span 19:00
                .big-card__column
                    span.big-card__team Динамо
                    img.big-card__team-logo(src="img/dinamo.png", alt="dinamo")
        article.last__column.big-card
            span.big-card__tag ФУТБОЛ
            h3.big-card__caption.h3 Батэ – славия мозырь, прогноз на кубок беларуси
            .big-card__row
                .big-card__column
                    img.big-card__man(src="img/serega.jpg", alt="serega")
                    span.big-card__name Серега Капер
                .big-card__column
                    p.big-card__factor
                        span x 2.21
                        |КОФЕЦИЕНТ
            .big-card__row
                .big-card__column
                    img.big-card__team-logo(src="img/shahter.png", alt="shahter")
                    span.big-card__team Шахтер
                .big-card__column
                    time.big-card__time
                        |12 июня
                        span 19:00
                .big-card__column
                    span.big-card__team Динамо
                    img.big-card__team-logo(src="img/dinamo.png", alt="dinamo")
        .last__column
            img.last__big-img(src="img/big-img.png", alt="big-img")
        article.last__column.big-card
            span.big-card__tag ФУТБОЛ
            h3.big-card__caption.h3 Батэ – славия мозырь, прогноз на кубок беларуси
            .big-card__row
                .big-card__column
                    img.big-card__man(src="img/serega.jpg", alt="serega")
                    span.big-card__name Серега Капер
                .big-card__column
                    p.big-card__factor
                        span x 2.21
                        |КОФЕЦИЕНТ
            .big-card__row
                .big-card__column
                    img.big-card__team-logo(src="img/shahter.png", alt="shahter")
                    span.big-card__team Шахтер
                .big-card__column
                    time.big-card__time
                        |12 июня
                        span 19:00
                .big-card__column
                    span.big-card__team Динамо
                    img.big-card__team-logo(src="img/dinamo.png", alt="dinamo")
        article.last__column.big-card
            span.big-card__tag ФУТБОЛ
            h3.big-card__caption.h3 Батэ – славия мозырь, прогноз на кубок беларуси
            .big-card__row
                .big-card__column
                    img.big-card__man(src="img/serega.jpg", alt="serega")
                    span.big-card__name Серега Капер
                .big-card__column
                    p.big-card__factor
                        span x 2.21
                        |КОФЕЦИЕНТ
            .big-card__row
                .big-card__column
                    img.big-card__team-logo(src="img/shahter.png", alt="shahter")
                    span.big-card__team Шахтер
                .big-card__column
                    time.big-card__time
                        |12 июня
                        span 19:00
                .big-card__column
                    span.big-card__team Динамо
                    img.big-card__team-logo(src="img/dinamo.png", alt="dinamo")
    button.last__button.button(type="button")
        span показать еще
