section.top.container
    h1.top__caption.h2 ТОП-15 БУКМЕКЕРСКИХ КОНТОР
    ul.top__list
        li.top__item.min-card
            .min-card__column
                span.min-card__number 01.
                .min-card__img
                    img(src="img/fonbet.png", alt="fonbet")
                p.min-card__caption Fonbet
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (19)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 02.
                .min-card__img
                    img(src="img/leon.png", alt="leon")
                p.min-card__caption Winline
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (12)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 03.
                .min-card__img
                    img(src="img/pari-match.png", alt="pari-match")
                p.min-card__caption PariMatch
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (21)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 04.
                .min-card__img
                    img(src="img/olimp-bet.png", alt="olimp-bet")
                p.min-card__caption OlimpBet
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (19)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 01.
                .min-card__img
                    img(src="img/fonbet.png", alt="fonbet")
                p.min-card__caption Fonbet
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (19)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 02.
                .min-card__img
                    img(src="img/leon.png", alt="leon")
                p.min-card__caption Winline
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (12)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 03.
                .min-card__img
                    img(src="img/pari-match.png", alt="pari-match")
                p.min-card__caption PariMatch
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (21)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 04.
                .min-card__img
                    img(src="img/olimp-bet.png", alt="olimp-bet")
                p.min-card__caption OlimpBet
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (19)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 03.
                .min-card__img
                    img(src="img/pari-match.png", alt="pari-match")
                p.min-card__caption PariMatch
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (21)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
        li.top__item.min-card
            .min-card__column
                span.min-card__number 04.
                .min-card__img
                    img(src="img/olimp-bet.png", alt="olimp-bet")
                p.min-card__caption OlimpBet
                .min-card__star
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star-gold")
                    svg(width="22" height="22")
                        use(xlink:href="#icon-star")
                p.min-card__cash
                    svg(width="19" height="19")
                        use(xlink:href="#icon-present")
                    |3000 ₽
            .min-card__column
                a.min-card__link(href="#")
                    |ОТЗЫВЫ&#32;
                    span (19)
                a.min-card__link(href="#") ОБЗОР
                a.min-card__link(href="#") НА САЙТ
    button.top__button.button(type="button")
        span показать еще

